.month {
  margin: 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid gainsboro;
}

.month div {
  padding: 1rem;
}

.home {
  border: 1px solid;
  width: 100%;
  display: inline;
}
