* {
  box-sizing: border-box;
}

html {
  font-family: "Poor Story", cursive;
  font-size: 24px;
  background: #fff;
}

body {
  margin: 0;
}

main {
  margin-top: 6rem;
}

button {
  font-size: 24px;
  font-family: "Poor Story", cursive;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
    background: #fff;
  }

  button {
    font-size: 14px;
  }
}
